
.container {
  text-align: center;
}

form {
  width: 300px; 
  background-color: #fff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  text-align:center;
}

button {
  margin-top: 10px;
}
